[2011-04-05 23:18] basepi opened #1 "Prepare backlogs and tasks in ScrumWorks"
Project creation, backlog item creation, and task creation within each backlog item

Some of these will come from, or at least be clarified by, input from Vicent when we get that.  However, due to the necessity of showing this setup to the TA tomorrow, we need to get this done tonight.

[2011-04-05 23:19] basepi opened #2 "Set up scrumworks first sprint"
Should be a 10-second job, but still on the list of things to-do.

[2011-04-06 02:14] basepi commented on #1
Still need comments from you guys here, just so we know everyone's connected.

[2011-04-06 02:15] basepi commented on #2
I think the sprint is set up.  Hopefully to your guys' expectations.

[2011-04-06 02:15] #2 closed, assigned to nobody

[2011-04-06 14:40] hausdorf opened #3 "Implement core diff function"
Tentatively leaning towards [Pa](http://bramcohen.livejournal.com/73318.html)[tie](http://alfedenzo.livejournal.com/170301.html)[nce](http://git.661346.n2.nabble.com/Bram-Cohen-speaks-up-about-patience-diff-td2277041.html). We will need to look at both that and [the classical](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.4.6927) diff algorithm.

This step will mostly be composed of writ

[2011-04-06 14:44] hausdorf opened #4 "Implement core diff protocols"
git produces both raw diff output (as in `git diff`) and a raw diff internal representation used to apply merges, patches, etc. This task will be composed of:
1. Nailing down what that protocol is.
2. Seeing if we can implement it faster.

The next step is to implement it inside and around the core diff function.

[2011-04-06 14:50] hausdorf commented on #1
I'm in right now.

[2011-04-06 14:57] trane commented on #1
I added the profiling of diff algorithms

[2011-04-06 15:06] hausdorf commented on #1
Added a bunch of detail. Should be good to go for checkoff.

[2011-04-06 15:13] trane commented on #3
http://kerneltrap.org/mailarchive/git/2009/1/7/4632964 <-- Read the comments to this.

[2011-04-06 15:18] hausdorf commented on #2
It's good. Good work, and thank you.

[2011-04-06 19:23] trane commented on #3
Basically, it comes down to this: Patience _might_ more often cause merge conflicts than classical diff. I think we should remove that possibility of merge conflicts and just implement classical diff.

[2011-04-06 21:28] hausdorf commented on #4
Andrew and I were poking around in git today. The places you will want to look are the `diff*` src files (e.g., `diffcore-pickaxe.c`, `diff.c`, and so on). Particularly useful as a place to start may be `delta.h`, as this houses the comments for the functions that occur in these `diff*` files. The function `create_delta()` seems promising, and is declared in `delta.h` and implemented in `diff-delt

[2011-04-06 21:32] hausdorf commented on #3
Andrew and I will be meeting sometime on Friday to hash this out BTW.

[2011-04-06 21:48] basepi commented on #4
Yep, we'll look through that stuff.  Landon and will probably get together this weekend -- I have a physics midterm and non-school stuff to do until Friday afternoon or so, so I won't be able to dedicate much time to this until then.

[2011-04-07 03:21] trane commented on #3
http://www.xmailserver.org/xdiff-lib.html
Source for this is available on that website.
Also, http://code.google.com/p/google-diff-match-patch/

[2011-04-07 03:46] trane commented on #3
I think I am beginning to lean towards Patience, for many reasons... in that second link (that you somehow thought was awesome to put three links in the word Patience), Bram responds to those comments from the mailing list I posted with some compelling arguments. I don't think that we would find issues with merge conflicts any more with Patience vs classic LCS. In which case, Patience seems like a

[2011-04-07 11:44] hausdorf commented on #3
I don't think we'll be able to parallelize it effectively. On the plus side, git is pretty effective at diffing, and they get their code almost verbatim from libxdiff, so maybe we should do the same. Bazaar does not focus on speed, they focus on usability, so git's diffing may actually be better for our purposes.

[2011-04-08 19:28] trane commented on #4
We found where you guys should start looking. It is in the git repo, "git/builtin/diff.c".
This contains all of the methods that can be called when a 'git diff ...' command is issued and should be the primary reference source of what you guys will be supplying for third party interaction between our diff implementation(s) and the user linking libgit2.

[2011-04-08 19:34] trane commented on #4
Alright, guys. Here is the KEY to your implementation... in <pre>builtin/diff.c</pre> the function <pre>cmd_diff</pre> (the last function) contains the comment of how the command-line options correspond to specific function calls.

[2011-04-08 19:52] hausdorf commented on #4
You may have noticed that comments are sparse in the git source. Here is the cure:

`Documentation/technical`

Inside is a shit-ton of API .txt files that explain everything. Diff, merge, whatever. This is what you guys need to do your job.

[2011-04-08 20:29] trane commented on #3
I think I might have figured out a way to speed this up, but it will require that git doesn't _already_ do this: memoization in the LCS.
Here's my thought...
Most instances of LCS are going to result in non-differing results, which is expensive when we must fill in all buckets of the two dimensional set of possible outcomes. If we memoize the results of each comparison, we can cut NxM outcomes int

[2011-04-08 21:01] trane commented on #3
OK. Reading the code for xdiff, it does something way cooler, imo... (which is what is proposed in the Eugene Myers paper)
It divides the problem by walking SW and NE at the same time and determines whether a change has occurred, thus removing the extra complexity for _obviously_ similar/different lines. /me reads more

[2011-04-08 21:19] trane commented on #3
Alright, here is a threading idea...This _might_ actually work.
According the Myers, "a simple O(ND) time and space algorithm is developed where N is the sum of the lengths of A and B and D is the size of the minimum edit script for A and B". However, if D is large this algorithm turns into a O(NlgN + D^2) problem, which the idea of using O(ND) space is a bad thing and the user should consider a d

[2011-04-08 21:25] trane commented on #3
This in no way changes the O(NlgN + D^2), it merely divides the constant in front by a factor of (2 - (cost of thread spin/join) - L) -- L being some number representing the potential worst-case LCS time cost.

[2011-04-08 21:28] trane commented on #3
I misrepresented D, D is referred to as a line... where I misrepresent it as a sequence of lines. I have edited to comments to reflect that.

[2011-04-08 21:33] trane commented on #3
Actually this doesn't require that D be large... since determining D is merely determining the line. In order to use this threading we would just always do it without any idea of what D is. So, forget any reference to D at all. It would be based on line count alone.

[2011-04-09 15:00] hausdorf commented on #4
Morning yet again, gentlemen. In today's exciting installment of "Andrew and Alex do your jobs for you", we will point you to a specific file that is (we think) the crux of your problem:

`xdiff-interface.c`

So remember, the goal here is to implement all the features needed to diff. Please call me if you have any questions about how that works.

[2011-04-09 16:07] hausdorf commented on #4
Dear sweethearts,

If you were wondering, the diff function call patterns goes roughly as so, starting with the more general interface methods, and getting more specific (i.e., closer to the actual diff) as you go down the list.
1. `xdiff-interface.c -> xdi_diff()` -- the interface method used by git to interact with xdiff's diffing functionality
2. `xdiff/xdiff.c -> xdl_diff()` -- sets up initial

[2011-04-10 10:00] hausdorf opened #5 "Build public-facing diff API function interface"
We need to settle on, and implement, the functions that will face outwards, directly to the users. This includes:
1. Designing the functions and function signatures to be used directly by the users
2. Define, implement, and typedef all structs associated with these functions.

[2011-04-10 10:02] hausdorf commented on #5
The API is settled, more or less as of commits d0ee42278d464da75b70 and 082fd79a57c5bb39924f

[2011-04-10 10:05] hausdorf commented on #5
I implemented the git_diffdata struct (holds a diff between to objects) and typedef'd it in the appropriate location. This should be complete as of commit 617e194d91d000b3c4fe

[2011-04-10 17:11] hausdorf commented on #5
We should have most of the interface work done as of 60d35b9e22ab3ce82eaa. If someone wants to review it, I'll close the issue.

[2011-04-10 17:19] hausdorf opened #6 "C doesn't allow function overloading, and this is annoying"
I think you got this, @crakdmirror.

[2011-04-10 17:37] hausdorf opened #7 "Memory-profile diff algorithm"
We will need to make sure that we're deleting everything and not causing memory leaks. This is a production library, and that would be **bad**.

@trane seems good at this sort of thing.

[2011-04-10 17:41] hausdorf opened #8 "Memory-profile diff interface"
This is critical because this is a production library.

Seems like something for @kyeana

[2011-04-11 18:14] basepi commented on #6
Trying to figure out what you want me to do with this....  =\

[2011-04-11 18:18] basepi commented on #5
If you write SHA: <commit hash> it will auto-link to that commit, just FYI.  Might as well have it linking if we're gonna put SHA's in at all.  (See the GitHub Flavored Markdown help article for more info)

[2011-04-11 18:20] basepi commented on #5
For example, you mentioned SHA: 60d35b9e22ab3ce82eaa for the review.....Hopefully this will auto-link, my "Preview" button isn't working, as I'm tethered to my phone so my internet sucks.

Crap, it didn't.  I guess /I/ need to reread the markdown article.

Let's try just like in the article:
- SHA:  60d35b9e22ab3ce82eaa

OK, never mind, I give up.

[2011-04-11 18:24] basepi commented on #1
Still haven't seen any comments from @kyeana

I'll send him an e-mail, maybe he's not getting the notifications.  Dunno.

[2011-04-11 18:24] #1 closed, assigned to nobody

[2011-04-11 18:30] basepi commented on #7
Umm, what does QA stand for?  Quality Assurance, or Question/Answer, or what?

[2011-04-12 00:11] hausdorf commented on #7
Quality Assurance.

[2011-04-12 00:12] hausdorf commented on #5
Heh.

[2011-04-12 00:16] hausdorf commented on #6
Don't be obtuse, I expect you to fix it. You should probably start by proposing a change to the [C spec](http://eli-project.sourceforge.net/c_html/c.html), and then you should probably [submit a patch to the GCC](http://gcc.gnu.org/). I need you do complete this by Wednesday if possible, and Friday at the very latest.

[2011-04-12 19:30] vimalloc commented on #6
heheheh

[2011-04-12 19:31] vimalloc commented on #6
And i accidentally closed this. What was i thinking...

[2011-04-12 19:58] basepi commented on #6
I'm going to need some leverage.  Anyone have time to go plant a few bombs for me?

[2011-04-13 00:49] basepi opened #9 "Prepare final presentation slides"
@trane mentioned he might be able to start on these since he's waiting on @DrSleep for something.  Thus, he gets assigned the issue!  =P

[2011-04-13 00:52] basepi opened #10 "Scrumworks Sprint 2 update"
Everyone please go into scrumworks and take a look.  I figure once we actually start sprint 2, I'll move the unfinished tasks over to it from Sprint 1.  Doesn't allow me to add pieces of backlog items, requires whole backlock item, so I just added all of the main merge implementation to sprint 2, even though I doubt we'll get it done. When you look at how things have worked out, this is really onl

[2011-04-13 00:53] #6 closed, assigned to basepi

[2011-04-13 01:15] trane commented on #10
Awesome.

[2011-04-13 01:15] trane commented on #9
kk

[2011-04-13 01:25] trane commented on #3
Not sure how we missed this: http://www.xmailserver.org/xdiff.txt

[2011-04-14 05:30] #10 closed, assigned to basepi

[2011-04-16 23:31] hausdorf commented on #3
chastore and chanode appear to not be called anywhere. So I'm not going to implement them.

[2011-04-16 23:43] hausdorf commented on #3
Just kidding. It's used somehow in in `xdl_prepare_ctx()`.

[2011-04-17 04:00] hausdorf commented on #3
Figured it out. You start by initializing a `chastore` with `xdl_cha_init()`. You tell it what sort of structs you want to store (e.g., `xdfile_t` structs). From there, you pass the `chastore` into `xdl_cha_alloc()`, and it dynamically allocates memory for those structs.

A `chanode` is basically used to iterate through this memory. For example, to allocate memory to these structs we specifically

[2011-04-17 04:02] hausdorf commented on #3
That, by the way, was about 5 or 6 hours of solid work.

[2011-04-17 05:18] hausdorf commented on #4
@kyeana, you were talking about windows/unix interface. Just FYI, the `win32/` folder I think houses the official windows interface, while the `unix/` folder houses the unix stuff.

[2011-04-17 05:23] hausdorf commented on #4
Addendum: they both appear to implement the `map.h` file from `src/`. So my guess is you can just access the windows or unix API through the interface defined in `map.h` and let a `#define` or something handle which file it is that you compile that for. Or maybe that's actually handled by waf. I dunno.

[2011-04-17 06:42] hausdorf commented on #4
Also, it appears that you can access this functionality via `src/dir.h`.

[2011-04-17 16:14] hausdorf opened #11 "Check off documentation for diff"
Particularly, we need to:
- Check off comments in public-facing API functions before deployment
- Check off the main comment that explicitly says where we got the ideas for the diff code, and who to contact for problems with it.

This needs to be done before we send it out.

EDIT:

We also need to
- Make sure the comments match up with the things they describe. Right now there's some dissonance be

[2011-04-18 21:45] hausdorf opened #12 "Core protocol team's commits break the build"
Merge introduced in [833e409f527993bb8726](https://github.com/crakdmirror/libgit2/commit/833e409f527993bb87261bc6a39a0fe09efc1a16) breaks build. If you need help building, [take a look at this](https://github.com/crakdmirror/libgit2/wiki/Building%2C-testing%2C-and-using-libgit2).

[2011-04-18 21:47] basepi commented on #12
This is why, to my knowledge, we haven't pushed any of our code to development, but have kept it in interface.......

[2011-04-18 21:48] basepi commented on #12
Oh, @trane just mentioned he merged them together.

[2011-04-18 21:48] trane commented on #12
It also looks like Landon fixed it about 2 hours ago. Not sure if you are commenting on the latest commit.

[2011-04-18 21:51] vimalloc commented on #12
Just pushed up a new commit that fixes all compile issues.

There are still a few compile warnings that I need to fix and that would break if you tried to run them right now, but that shouldn't stop you from being able to compile anything.

I will continue working on this throughout the day.

[2011-04-18 21:53] basepi commented on #12
I'll be working on this this evening as well.

[2011-04-18 22:20] hausdorf commented on #12
Sorry, @crakdmirror or @kyeana, can you merge one more time and push up to your branch? That's just usually the way it works -- the person who wrote the code gets to merge it into the other branch. It would be the same if Andrew and I wrote code and merged it into `development`.

[2011-04-18 22:21] basepi commented on #12
Are you saying you reverted or something?  I thought it was already merged?

On Mon, Apr 18, 2011 at 4:20 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-18 22:24] hausdorf commented on #12
I did revert it, sorry. I wasn't sure if it would be fixed immediately or not, so I just did what I had to do to make it testable.

[2011-04-18 22:25] basepi commented on #12
You wanna take this, @kyeana, since you already know how to make it work
again?

On Mon, Apr 18, 2011 at 4:24 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-18 22:27] vimalloc commented on #12
Sure thing. Are you wanting me to pull development or dev-diff-algo?

[2011-04-18 22:28] vimalloc commented on #12
and damn the comment and close button being there...

[2011-04-18 22:31] hausdorf commented on #12
Typically what you'd do is to pull `dev-diff-algo` and just merge it in. Then push it up to `development-interface`. Then we pull from you.

[2011-04-18 22:31] basepi commented on #12
I know, right?  I find it easiest to just reply to the notification e-mail.
 You'll have to ask Alex, I'm still not up to date on what exactly was/needs
to be merged.

On Mon, Apr 18, 2011 at 4:28 PM, kyeana <
reply@reply.github.com>wrote:

[2011-04-18 22:40] basepi commented on #12
Do we know if the libgit2 repo frowns upon merge commits as opposed to
rebasing?  I was reading about rebasing over the weekend, and I've found a
few OSS projects which, under their "guidelines for contributing" don't like
merge commits.  Just wondered if it might be an issue later, and if we
should be rebasing rather than merging?

On Mon, Apr 18, 2011 at 4:31 PM, DrSleep <
reply@reply.github.com

[2011-04-18 22:40] vimalloc commented on #12
dev-diff-algo is missing at least the function git_repository_workdir() in repository.h, which I need for some of the stuff in diff.c.

Could it be that function was created in the development branch, and that branch wasn't merged with dev-diff-algo?

[2011-04-18 22:46] basepi commented on #11
Looks awesome to me.  Github isn't quite as fantastic for reviews as we though, though, as you can only leave comments on specific commits, not on a range of commits.  So because the public API wasn't implemented in a single commit, had I wanted to make a comment on something, I'd have either had to give line numbers and references and left the comment here, or gone and found the commit where that

[2011-04-18 22:46] basepi commented on #11
If I didn't make it clear, SHIP IT!  =P

[2011-04-18 22:48] hausdorf commented on #12
Almost certainly no, but to confirm, I pulled `development` and merged. Looking at the [revert commit](https://github.com/crakdmirror/libgit2/commit/0c162a81ffb9fbf21e1c824801c140db360044e9), it seems that I reverted that change.

[2011-04-18 22:56] vimalloc commented on #12
Can you push that change up to github? I don't see it there right now.

[2011-04-18 22:59] hausdorf commented on #11
To be clear, what we really need to do is to check off that the comments match the functions and things they describe AFTER we're done developing.

[2011-04-18 23:00] hausdorf commented on #12
You don't see the revert commit I linked to?

[2011-04-18 23:03] hausdorf commented on #12
Also @crakdmirror, should not be a problem, though I'll check with Vicent.

[2011-04-18 23:04] vimalloc commented on #12
I see the revert commit, but that removed functionality needed for diff.c. Specifically, include/git2/repository.h line 213 of that revert.

Without the development branch merged back in my code wont compile.

[2011-04-18 23:09] hausdorf commented on #12
I am technically merged with development. If you run the merge command you will get a helpful message telling you you're up-to-date. Besides, if it's true that repository.c is missing stuff, then probably a lot of other places are too.

You could, if you want, revert the revert, I suppose.

[2011-04-18 23:11] vimalloc commented on #12
Ok. Do you want me to do that on your branch? I don't want to break any code you have done, since I have just been doing stuff on my branch...

[2011-04-18 23:15] hausdorf commented on #12
It should, strictly speaking, be done on your branch. I'll look at the diffs.

[2011-04-18 23:19] vimalloc commented on #12
Uh, maybe I am missing something here, but that revert that reverted too much was done on your branch, so wouldn't it make more sense for you to fix it so that I don't unknowingly break something you have done?

[2011-04-18 23:26] hausdorf commented on #12
Well, first, reverting that commit will quite literally just undo whatever I reverted. You don't have to make choices. It just works. Second, it is reverting work that _you_ did -- I didn't revert our stuff. So reverting would not break our stuff. And third, strictly speaking no, because you're doing it to merge your stuff in, so if it breaks something, it points to you as the committer who did it

[2011-04-18 23:30] hausdorf commented on #12
So, what would happen ideally is, you'd pull, and then revert our commit, and then fix everything that was broken, and then push up to your branch and then we'd pull that.

[2011-04-18 23:36] vimalloc commented on #12
Done.

Everything compile normally, with the only warnings being unused parameters.

[2011-04-18 23:36] #12 closed, assigned to vimalloc

[2011-04-19 00:18] hausdorf commented on #12
Awesome, thanks. _kisses Landon_

[2011-04-19 03:58] hausdorf opened #13 "Review and complete TODOs and FIXMEs before ship of diff"
Often we'll write something like  "FIXME/TODO: change this function name to something that makes more sense then `int if_i_see_one_more_uncommented_function_in_libxdiff_i_am_sending_davide_libenzi_a_bomb_in_the_mail`" in the code to remind ourselves that we have some shit to do.

We should:
- Complete as many of these as possible
- Before shipping
- Unless we can't do it for some reason

[2011-04-19 15:33] hausdorf opened #14 "Use OS-agnostic IO handlers"
PROBLEM:

Current implementation of `src/diff.c` uses a method called `load_file()`. This opens a file given a directory. Arguably, though, this is a function that belongs in a file whose job it is to supply OS-agnostic IO handlers. As it turns out, this instinct is correct, as there is such a file, which you will see in the "resources" section.

OBJECTIVES:
- Transition `diff.c` to OS-agnostic IO

[2011-04-19 16:01] hausdorf opened #15 "We free a pointer that wasn't malloc'd"
PROBLEM: A call to `git_diff_no_index()` will allocate the contents of file at params `filepath1` and `filepath2` to a `char *buffer1` and `char *buffer2`. Running this method will produce the following error:
`
a.out(5679) malloc: *** error for object 0x100800000: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug
[1]    5679 abort      ./a.out
`
What's goin

[2011-04-19 16:04] vimalloc commented on #15
It should be getting malloc'd through load file, hence why we pass it a double pointer.

I can take a look at it in a bit.

[2011-04-19 16:06] hausdorf commented on #15
@kyeana, take your time. Filed a bug report so that we could get around to it when we want to.

You can see what the bug looks like for us [here](https://github.com/crakdmirror/libgit2/blob/e7b6795377c29fdf68366d0b36b9657fe64d4c6f/src/diff.c#L91)

[2011-04-19 16:07] vimalloc commented on #15
Awesome sauce

[2011-04-19 17:34] hausdorf commented on #15
What's really happening here is that the call to `load_file()` in [this line](https://github.com/crakdmirror/libgit2/blob/dev-diff-algo/src/diff.c#L67) fails at some point. Since it never gets malloc'd, freeing it causes an error.

[2011-04-19 21:22] hausdorf opened #16 "Decide between size_t and long"
We need to know whether to use `size_t` and, say, `int` and `long`. `libgit2` uses `size_t` all over the place, so the question is likely really a question about _when_ to use it.

NOTES:
- We will need to pay special attention to converting the stuff in all structs when doing this.

[2011-04-20 03:42] trane commented on #16
http://kerneltrap.org/mailarchive/git/2007/10/3/328772
Looks like size_t in linux is the same as an ulong, but ulong in Windows is only 32 bit, while size_t scales to 64 bit.

[2011-04-20 03:46] hausdorf commented on #16
Good to know. Incidentally, this may make libgit run slightly slower on 32-bit machines.

[2011-04-20 04:52] hausdorf opened #17 "Decide on bitshift vs division/mutiplication by 2"
Recently we changed some of the places where we divide or multiply by a power of 2 to use bitshifts. My impression was that this was implemented automatically by the compiler.

We need to decide which to use.

[2011-04-20 05:18] hausdorf commented on #17
[code]

compiled with gcc -S gives:

[code]

So I guess that issue should more or less be settled. We should change those bitshifts back.

[2011-04-20 17:49] hausdorf opened #18 "Consolidate records-centric functionality to a record-handling file"
Right now, `libdiff.c` is a hodgepodge of functions that deal with records seamlessly alongside the the diffing algorithm functions. This should change to provide us with better abstraction. Specifically, in this new file should go:
- Functions that deal with classification (e.g., those that deal with `record_classifier` and `classd_record` structs)
- Functions that build and administrate the `mem

[2011-04-20 21:36] trane commented on #17
Interesting, when you add -O[23] it just makes it into a number, no shifts. Though, it might be different when you are using it in a conditional.

[2011-04-20 21:48] trane commented on #17
Looks like if the value of 'a' is unknown at compile time... bitshifts are fewer operations. In my test, by 5 operations.

[2011-04-20 21:50] trane commented on #17
[code]

[code]

[2011-04-20 23:12] hausdorf commented on #17
It's almost always a bad idea to try to outsmart the compiler. IMHO, we should just change it to multiplication and concentrate on making the algorithm faster, which is historically _much_ more effective at speeding up a program. Imagine if, instead of inventing MapReduce, Google had decided to micro-optimize existing algorithms with bitshifts. The progress in algorithms [regularly](]%28http://agt

[2011-04-21 01:05] trane commented on #17
If that was your point from the beginning, you should have made it then. Focusing the discussion on the compiler performing the same action and then changing your argument does nothing for the discussion. In fact, you not only change your argument, but go on to talk about how my "premature optimizations" are embarrassing and noobish. _everyone_ knows the Knuth quote and I don't need to be reminded

[2011-04-21 01:34] hausdorf commented on #17
I get that you're frustrated with stuff. Me, the code, the project, whatever. But I'm not responding to that. My only goal here is to write good software. Believe that or don't, your choice. I personally don't believe that I say things to get on a soapbox and "be a dick".

The issue at hand is manual bit shifting. Yes, it makes code faster, but it doesn't _really_ make code faster. Other people wh

[2011-04-21 01:42] trane commented on #17
I am frustrated that by me giving the assembly output countering your argument it prompted you to respond how you did. I wanted to make it clear that I don't appreciate the slight of hand. Your character is not in question and I agree with the overall idea of making code readable. I don't agree that it warranted 2 paragraphs about how everyone else will think us fools, that Knuth will swoop in fro

[2011-04-21 02:14] hausdorf commented on #17
You can let me spend my time working with this project, or you can force me to spend time and energy working on the social calculus required to make tomorrow's class not awkward. If it seems to you plausible that I wouldn't say that _just_ to dismiss your argument, get on a soapbox, and "be a dick", then I propose that you join me in leaving this problem behind.

[2011-04-21 02:15] trane commented on #17
Fair enough.

[2011-04-21 02:15] #17 closed, assigned to trane

[2011-04-21 02:27] hausdorf commented on #17
That would never have worked on a girl. I should switch to dating men.

[2011-04-21 02:39] trane commented on #17
lol

[2011-04-21 02:47] trane opened #19 "Patience diff"
Do we want patience diff in a separate file? I don't think it would hurt to do so. We could model it after JGit, where the both algos are in different files.

[2011-04-21 02:51] hausdorf commented on #19
How we organize this will probably depend on what functions are called. If it calls all the same functions, we may just want to put them in one file.

[2011-04-21 02:56] hausdorf commented on #19
I know for sure that patience calls at least 3 of the same functions in xdiff. My guess is that the pipeline is really similar. For example, creating the context used in `recs_cmp()`, patience requires that we compact it. Implying that at least a significant part of the pipeline is similar.

[2011-04-21 03:09] trane commented on #19
Alright, I'll write it at the bottom of libdiff.c. I will need some new structs declared but they are only libdiff.c specific, so I won't declare them outside of it.

[2011-04-21 03:14] hausdorf commented on #19
FYI, I'm compacting the functions I've already written and combining the structs. This will yield invasive changes. I'll refactor patience into these changes, so do what you're doing, but do let me know if patience requires substantially different infrastructure from Myers.

[2011-04-21 03:17] trane commented on #19
It assumes that the environment has already been prepared by xdl_prepare_env(), which I assume you are refactoring. Other than that I don't see anything that would cause big problems.

[2011-04-21 03:22] trane commented on #19
What is your new refactored version of the new xpparam_t ?

[2011-04-21 03:30] hausdorf commented on #19
xpparam_t holds only a long whose bit pattern holds flags. I hold the flags in git_diffresults_conf.

Note that currently this depends on them being initialized before calling the diff() function. This will eventually be resolved by helper methods that build the results_conf for users, especially for common-path functions like printing to stdout.

[2011-04-21 08:32] hausdorf opened #20 "xdlclassifier and xdlclass do not appear to have any function whatsoever"
A lot of preparations happen in the diff pipeline. One of these preparations is to build xdlclassifiers and xdlclasses for every record. They're niftily constructed and the code is nicely written. The only problem is that _I can't find a place where they're actually used_. In our code, we build it in `algo_environment()` and in their code, they build it in `xdl_prepare_env()`. In both cases, the c

[2011-04-21 17:00] trane commented on #3
This is an important thing that we already know, for examining code for hours, but it is spelled out neatly by Davide himself in xpatience. Basically, the 'ha' variable that took forever to figure out, it is converted into the weighted values of possible paths, where ha[0] == 0, and ha[n+1] == 0 OR 1.

<pre>
    /*
     * After xdl_prepare_env() (or more precisely, due to
     * xdl_classify_recor

[2011-04-21 17:00] trane commented on #20
See: https://github.com/crakdmirror/libgit2/issues/3#issuecomment-1040162

[2011-04-21 17:38] hausdorf commented on #3
Noted, thanks.

[2011-04-21 17:39] hausdorf commented on #19
One of us needs to branch off if we're working in the same file, or every push gives us a recursive merge. So I've branched to `dev-algo-core`. The caveat is, if you alter anything in my code, I need to know so that I don't build around something that's wrong. Also the methods that you see up there are _very_ likely to change.

So.

[2011-04-21 18:09] trane commented on #19
Sounds like a good idea. I will actually branch to dev-algo-patience. We can use dev-diff-algo to merge our branches. Sound good?

[2011-04-21 18:13] hausdorf commented on #19
Yes, that sounds great.

[2011-04-21 18:19] hausdorf opened #21 "Explore bogosqrt vs q3sqrt"
We use square roots for a number of things. Our current implementation is [here](https://github.com/crakdmirror/libgit2/blob/dev-algo-core/src/libdiff/diffhelpers.c#L9) -- just the standard approximation method.

One of the team suggested that we look into using [Quake 3's sqrt hack](http://www.codemaestro.com/reviews/9). Initial drawbacks seem to be that it's for floats, not longs. Perhaps we can

[2011-04-21 18:25] hausdorf opened #22 "Style compliancy problems"
### Structs

Previously, I thought it was the case that typedef'ing structs was mainly for readability. [Recent readings](https://github.com/crakdmirror/libgit2/wiki/C-Style-Conventions%2C-according-to-Linus) indicate that this is incorrect, and libgit in general seems to agree.

We need to:
- Remove typedefs in structs that are not opaque.
- For structs that are opaque, we want to access them _on

[2011-04-21 18:31] vimalloc commented on #15
Problem was char *buffer1; initializes buffer1 to garbage, not to null, thus the if(buffer1) returns true and we try to free stuff we never malloc'd.

Fix in my branch.

[2011-04-21 18:35] trane commented on #21
I did some tests here, bogosqrt does not give a real value of sqrt (in fact it is ~ 2x as large).
Here is the output from my test, math is the built in sqrt from math.h:
bogo: 4096
q3: 2330
math: 2330

[code]

[2011-04-21 18:43] hausdorf commented on #21
Maybe it's just incredibly bad.

Do we know which is faster?

[2011-04-21 18:56] trane commented on #21
math.h sqrt is _significantly_ faster computing 5432123

bogo ~ 18s
quake ~ 20s
sqrt ~ 1.4s

this was the code for profiling (obviously an approximation)

[code]

Interesting thing, quake AND sqrt take the same time to compute the sqrt of 200 as 5432123, while bogo takes around 7s.

[2011-04-21 19:04] hausdorf commented on #21
WTF. I'll look into it in a minute.

[2011-04-21 20:44] hausdorf opened #23 "Use or define the libdiff malloc"
We're currently just calling `free()` and `malloc()`. This isn't extensible. We should define some sort of macro that specifies which malloc we're using, and it should probably default to libgit's malloc. I propose we call it `ld_malloc()`

[2011-04-21 22:20] trane commented on #23
I have been coding against...
ld_malloc()
and
ld_free()
for patience.

[2011-04-21 22:39] hausdorf commented on #23
I have misinformed you. libgit uses this style: `git__malloc()`, with two underscores. Correspondingly, I've just incorporated a libdiff malloc under the name `ld__malloc` in `libdiff.h`. You can see this implementation [here](https://github.com/crakdmirror/libgit2/commit/bef2f375cd2a4ba2bc4d0864a0d3eba20fed133f#L0R44).

Apologies for the confusion.

[2011-04-21 22:40] trane commented on #23
cool.

[2011-04-21 23:02] hausdorf opened #24 "Implement diff unit tests for libgit2"
Try to re-use as many use cases as possible from git diff unit tests.  Use the libgit2 test framework.

[2011-04-21 23:03] hausdorf commented on #21
Could this be because q3 uses floats while the others to not?

[2011-04-21 23:03] trane commented on #24
Agreed.

[2011-04-21 23:04] trane commented on #21
That's between you and your priest.

[2011-04-21 23:46] basepi commented on #24
Agreed.

On Thu, Apr 21, 2011 at 5:02 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-22 00:35] basepi opened #25 "We need to rehearse the final presentation and what-not."
Just need to decide what all we need to do to prepare for this.  I suppose we can just give each person stuff to talk about decide ordering, and wing it.  I'm not too worried about the public speaking part of it, once we have all the content.

This is obviously low-priority until we have the actual code done, but thought I'd throw up an issue.

EDIT:  So when are we going to do it?  I suppose we'l

[2011-04-22 00:56] basepi commented on #15
Did you push that to the server, @kyeana?  The comments in, for example, in git_diff_no_index, there are still comments referencing #15, and yes, I've pulled from master very recently.

[2011-04-22 01:23] basepi commented on #15
OK, I found your fix, you just didn't remove the comments.

[2011-04-22 01:23] #15 closed, assigned to vimalloc

[2011-04-22 01:58] hausdorf commented on #25
YES.

[2011-04-22 02:01] vimalloc opened #26 "Function Declarations"
We are declaring some function at the top of .c files like such: https://github.com/crakdmirror/libgit2/blob/development/src/diff.c#L13

I understand why we would do this, but glancing around it doesn't look like the rest of the project is doing this. Is it ok if we remove these to keep the same feel as the rest of the project?

[2011-04-22 02:03] hausdorf commented on #26
Probably right. I'm going to worry less about style issues right now, but in the future it will be important.

[2011-04-22 02:12] basepi commented on #26
Sounds fine to me.  Theoretically, load_file, which was on the line you
referenced, won't be even necessary, and ya, I figure we should follow the
style of the project.

On Thu, Apr 21, 2011 at 8:01 PM, kyeana <
reply@reply.github.com>wrote:

[2011-04-22 02:59] basepi commented on #22
Are the error codes all located in one location?  And is there any documentation on their meaning?  Because sometimes they can be pretty cryptic.

[2011-04-22 03:06] hausdorf commented on #22
`include/common.h` seems to be the place.

Not sure if that's all of them.

(In case you were wondering, I found this by looking for a place where an error occurs and grep'd for it.)

[2011-04-22 03:06] basepi commented on #14
Thanks for finding those fileops files, they were incredibly useful and, as far as I could see, feature-complete.

As far as I can tell, this issue is fixed.  I have removed the load_files() method and the file_exists() method, refactoring all their uses with the equivalent methods from fileops.[h,c].  Closing it for now, if I've missed something, someone please re-open it, eh?

[2011-04-22 03:06] #14 closed, assigned to basepi

[2011-04-22 03:09] basepi commented on #22
Fantastic, just what I was looking for.  Thanks.

On Thu, Apr 21, 2011 at 9:06 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-22 03:10] hausdorf commented on #14
Glad to hear it.

[2011-04-22 03:28] basepi commented on #16
http://en.wikipedia.org/wiki/Size_t

Adding to @trane's comment, seems that `size_t` has specific times that it's meant to be used, specifically when storing the size of an object.  It's actual underlying size is different based on the architecture on which the program is compiled, so it seems like it might be more flexible (though less consistent) as a result.

Seems like, especially since we're

[2011-04-22 03:31] basepi commented on #21
Could be the floats, but I'm betting it's some extreme optimization in math's `sqrt()` function.

But what do I know?

[2011-04-22 03:31] hausdorf commented on #16
Apparently (so says @trane) libgit uses `size_t` all over the place, though. If true, it's something to consider. If not, eh, `longs` it is.

[2011-04-22 03:33] basepi commented on #16
My bet is that people get in the habit of using it, and end up using it where it's not necessarily "meant" to be used.  Your guess is as good as mine.

[2011-04-22 03:34] hausdorf commented on #21
`math.sqrt()` uses raw assembly and, if arch supports it, a special instruction that does float square roots. That is with the _float_ though. And computation is a lot more expensive in floats.

I actually do think this is probably one of the reasons for this result.

[2011-04-22 03:34] basepi commented on #13
Additionally, another common "I'll revisit this later" tag is `FIXME`, so we should definitely `grep` for those before shipping as well, and resolve as many as possible.

[2011-04-22 03:34] hausdorf commented on #13
I use `FIXME` extensively but didn't mention it.

[2011-04-22 03:37] basepi commented on #21
You think the extreme optimization is the reason?  I guess my question is, does `math.sqrt()` use `float`s when it's given a `long` as the parameter?  Because if so, then it can't be the `float`s that are causing the timing discrepancy, and it must be the optimization.  In which case, can we use `math.sqrt()`, or is that considered an external dependency?

[2011-04-22 03:38] basepi commented on #13
Just wanted to make the issue's info as complete as possible.  =)

[2011-04-22 03:43] hausdorf commented on #21
No, `q3()` and the other two use `long`s or `int`s. Floats are computationally expensive. I do think that this contributes to the results above.

[2011-04-22 15:38] basepi commented on #21
But if you're saying that `math.sqrt()` uses floats and floats are more computationally expensive, then that doesn't make sense, as `math.sqrt()` had the best time.

[2011-04-22 15:43] hausdorf commented on #21
Looks to me like `math.sqrt()` should be square rooting `long`s as shown in code above.

EDIT: I see the problem. I should have said [here](https://github.com/crakdmirror/libgit2/issues/21#issuecomment-1042598) that `math.sqrt()` does NOT in this case use floats.

[2011-04-22 17:09] hausdorf commented on #20
You seem to be right, but I'm going to hold off on closing this for a bit.

[2011-04-22 17:13] hausdorf commented on #23
Shouldn't have been closed; we need to actually implement it now.

[2011-04-22 17:53] trane opened #27 "patience: insert_record possible improvements"
[code]

[2011-04-22 17:55] trane opened #28 "patience: fillhashmap possible improvements"
We are passing in data1 and data2, but also the env variable that already has pointers to data1/2 (though I'm not sure if those pointers point to data yet in the pipeline)

[code]

[2011-04-22 17:55] trane opened #29 "patience: find_longest_common_sequence possible improvements"
[code]

[2011-04-22 18:04] trane opened #30 "merge dev-algo-[patience core]"
I've merged core into patience, but I think it is at a point where we can merge them into dev-diff-algo.
My branch has all of core and patience in it without merge conflicts, and compiles.

[2011-04-22 18:07] hausdorf commented on #30
I've already merged the core Myers in. I agree, do it.

[2011-04-22 18:12] trane commented on #30
Done

[2011-04-22 18:12] #30 closed, assigned to hausdorf

[2011-04-22 18:17] trane opened #31 "extraneous spaces in libdiff.c"
There are some places where spaces should be tabs in libdiff.c. Anytime there are 4 spaces, that can be a tab, even if those 4 spaces are for lining things up. If there are 6 spaces, four of them should be 1 tab and the other 2 just spaces. I can fix it if you want.

[2011-04-22 18:18] hausdorf opened #32 "diff_no_index() fails to read files"
PROBLEM:

Calls to `diff_no_index()` fail even when provided with correct paths for files.

RESOURCES:

Code ran is here:

[code]

`ls` gives us this:

[code]

tests.c is unrelated.

[2011-04-22 18:26] hausdorf commented on #31
Sure. Generally if there are spaces, it's because it's really someone else's code.

[2011-04-22 18:31] hausdorf commented on #30
I've merged this into `development`.

[2011-04-22 18:44] basepi commented on #32
Referencing the title of the issue, how do you know they aren't read?

[2011-04-22 18:45] basepi commented on #32
Also, which version of the function are you using, the one that uses @kyena's load_file() method, or the one that uses fileops methods?

[2011-04-22 18:46] vimalloc commented on #32
Check the newest one on branch development-interface. I have confirmed that it is working on my machine (i pushed it up a few hours ago).

[2011-04-22 18:47] basepi commented on #21
Cool.

So why were we having this discussion?  `math.sqrt()` seems head and shoulders above the others in performance, seems like it's a no-brainer to pick which one.

[2011-04-22 18:50] vimalloc commented on #32
Also, the above code wouldn't print anything out, as the diff function for git_diff_no_index is commented out. If you add printf() in git_diff_no_index you can see that the files get successfully loaded into memory.

[2011-04-22 18:50] trane commented on #21
Not necessarily.
xdiff uses bogosqrt and we need to find out why, especially since it is wrong. Though, I think I remember that it does a << 1 after calling bogosqrt, but I can't remember. If it does, in fact, do that then it gets a good approximation. We also need to verify that my code is sound, I wrote it during 2100 where I was half-focused. Perhaps I did something crazy.

[2011-04-22 18:58] hausdorf commented on #32
I am using the current version of your code.

[2011-04-22 19:00] vimalloc commented on #32
Ah, you need to put the full path to the file, aka (/home/drsleep/code/libgit/.../difftestafter, etc).

[2011-04-22 19:01] hausdorf commented on #32
They do not get loaded. The printfs fail at existence check.

[2011-04-22 19:01] hausdorf commented on #32
Oh. I don't think that should be desired behavior.

[2011-04-22 19:05] vimalloc commented on #32
I disagree there. One way or another we would have to get the full filepath to the file, and because this is supposed to be cross platform we would have to change the filepath differently to get that full filepath. It seems like that would be out of the scope of this function and should be the callers responsibility, at least in my opinion.

[2011-04-22 19:08] vimalloc commented on #32
If we do want to do it the other way though it can totally be done. However for the time being I would like to get the rest of the git_diff stuff working, before we worry about that.

[2011-04-22 19:09] hausdorf commented on #32
I disagree. As a caller of this library, I would want it to use the pwd by default. The filesystem stuff should be handled transparently.

[2011-04-22 19:11] basepi commented on #32
There are some path prettification methods in fileops that might do the
trick.
On Apr 22, 2011 1:01 PM, "DrSleep" <
reply@reply.github.com>
wrote:

[2011-04-22 19:12] vimalloc commented on #32
That would definitely make this much simpler for us :)

[2011-04-22 19:51] trane opened #33 "use c89 style comments"
According to the wiki:

Linux style for comments is the C89 "/\* ... */" style. Don't use C99-style "// ..." comments.

Are we following the same? If so, we need to change a bunch of stuff.

[2011-04-22 19:53] vimalloc commented on #33
I have been doing it that way.

On Fri, 22 Apr 2011 13:51:51 -0600, trane
reply@reply.github.com
wrote:

##

Using Opera's revolutionary e-mail client: http://www.opera.com/mail/

[2011-04-22 20:10] hausdorf commented on #33
Style issues should be covered in [#22](https://github.com/crakdmirror/libgit2/issues/22).

[2011-04-22 20:10] #33 closed, assigned to nobody

[2011-04-22 20:11] trane commented on #22
[code]

Should be...

[code]

Notice: spaces after for, if, else, else if and between the following symbols:

[code]

[2011-04-22 20:16] trane opened #34 "Create diff error codes"
We must add error codes to common.h specific to diff results.
Discussion here for what error codes are needed go here.

[2011-04-22 20:18] basepi commented on #33
I have been.

On Fri, Apr 22, 2011 at 1:51 PM, trane <
reply@reply.github.com>wrote:

[2011-04-22 20:18] trane commented on #34
Errors come in the following format:

[code]

Public errors belong in /include/git2/common.h
Most should go in that one.
Private errors belong in src/common.h

[2011-04-22 21:40] vimalloc opened #35 "git diff with newly added files."
In git, if you use git diff and there is a newly added file in your file system but not in the repository, then the contents of that file are not part of the diff. If you delete a file from the file system that was in the repository, then that file is still included in the diff.

Should we follow this behavior? If so it would make the git_diff() function virtually done, minus actually doing the di

[2011-04-22 22:15] hausdorf commented on #35
Nice catch, man. I vote that we should remain consistent with git's functionality.

[2011-04-23 02:38] hausdorf commented on #32
GOOD NEWS: Looking at this closely, it seems that relative paths are actually covered by default.

BAD NEWS: There's still an error. The problem appears to be that this block always trips:

[code]

[2011-04-23 02:56] vimalloc commented on #32
What branch are you getting that code from? In development-interface we actually removed the gitfo_isdir() all together.

For the above code, I was looking through it before I removed it, and i think it turned out that gitfo_isdir() returns -1 if the file isn't a directory, and 0 if it is a directory (backward imo), and thus if it wasn't a directory it returned -1 which evaluated to true.

[2011-04-23 03:04] hausdorf commented on #32
Hmm. Conditionals seem to be wrong in several places. For example:

[code]

What's getting returned here is a 0 if it's correct and an error code if not. So it should be

[code]

That's a pretty minor error. This next one does not seem to be:

[code]

So what we want to do is throw an error if either of these is true. But if they're true, they don't return true, they return 0. Thus we need to chec

[2011-04-23 03:07] vimalloc commented on #32
Read above comment. All of those have been replaced with gitfo_read_file() in our branch.

[2011-04-23 03:07] hausdorf commented on #32
To answer your question, I am getting it from your current branch:

`git log development..upstream/development-interface`

returns nothing.

[2011-04-23 03:09] vimalloc commented on #32
I don't think you have the most current version of our branch, or if you do it was improperly merged or something. See here:

https://github.com/crakdmirror/libgit2/blob/development-interface/src/diff.c#L14-52

[2011-04-23 03:10] hausdorf commented on #32
The code comes specifically from [here](https://github.com/crakdmirror/libgit2/blob/development/src/diff.c#L28).

[2011-04-23 03:10] basepi commented on #32
Uhhhhh, are you sure?  I could swear that I put NOTs in front of those
exists.  The `gitfo_isdir()` calls don't have NOTs, because they shouldn't.
 Also, I didn't have the `==0` stuff on the `gitfo_isdir()` calls.  Did you
add those, @kyeana?

OK, I just went and checked the source, and none of those conditionals exist
as you've stated them, as far as I can tell.  Also, that's a weird pull
command

[2011-04-23 03:11] basepi commented on #32
That's from development, @DrSleep, not development-interface.  Every time
you go back to github it resets you to the default branch, which is in this
case development.

On Fri, Apr 22, 2011 at 9:10 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-23 03:12] vimalloc commented on #32
@alex, that is development, not development interface

@colton, yes. I have tested it with a valid file, an invalid file, and a directory, Unless a valid file is passed in, an error is returned from that method (it takes care of all those tests for us)

[2011-04-23 03:12] hausdorf commented on #32
That's not a pull command, that's a log command.

Also, development-ready code I assumed was actually in development.

So...

[2011-04-23 03:14] basepi commented on #32
But yes, going back to what I said before, I don't know that it's wise to drop all of the `exists` checks and the `isdir` checks.  I'd be interested to know your reasoning behind removing those.  And I'm far too lazy to check your commit messages.  =P

[2011-04-23 03:14] vimalloc commented on #32
Ok... well we were just following protocol keeping code in our own branch. I had no plans to merge it into development until it had been reviewed by other people.

[2011-04-23 03:15] vimalloc commented on #32
@colton, that method will return an error if something that isn't a valid filepath, thus the checks are already taken care of us in there, so there is no reason to check twice.

[2011-04-23 03:18] hausdorf commented on #32
@kyeana You're right, don't check it twice. I saw that too.

But to answer your question, I thought Colton was reviewing your code. Is this wrong?

[2011-04-23 03:19] vimalloc commented on #32
We are reviewing each others code, we just haven't gotten around to this portion of code yet. I changed a significant portion of it today.

[2011-04-23 03:20] hausdorf commented on #32
@crakdmirror, @kyeana, There are pretty severe merge conflicts, as merge conflicts go. If it's development-ready, I do need that code, and would be really appreciative if you merged into development. If it's not, what do you need to get it dev-ready?

[2011-04-23 03:20] basepi commented on #32
...well......all I know is what's in my development-interface branch.  Which is the most up-to-date interface code, so I will almost always assume you're looking in that branch when we're talking about the interface code.  @kyeana, you should use usernames, not first names, or leave off the @ completely, as the @ tags link to usernames, not real names.  So @alex leads to some random dude with `ale

[2011-04-23 03:21] hausdorf commented on #32
@crakdmirror, it does return the correct error code. I've looked at it myself.

[2011-04-23 03:22] alex commented on #32
I would appreciate that to a wonderful degree :)

[2011-04-23 03:22] vimalloc commented on #32
@alex hahahahahaha, sorry, my bad mate :P
@crakdmirror point taken :)

[2011-04-23 03:23] hausdorf commented on #32
Ahahahahahahah. Awesome. Nice to meet you, @alex.

[2011-04-23 03:24] basepi commented on #32
Hehe, forgot about the mentions as well.  Sorry, mate.  =)

@DrSleep, it looks like it just returns `GIT_ERROR` at each juncture if there's an error.  Don't we want invalid path instead, or whatever?

[2011-04-23 03:32] hausdorf commented on #32
@crakdmirror, I really have no idea what's going on with interface code. You or @kyeana should merge it, because you do.

As for the `GIT_ERROR` stuff, I dunno. I'll think about it. Probably.

[2011-04-23 03:35] hausdorf commented on #32
I actually have no idea why I'm even getting merge conflicts. I haven't even committed to `diff.c` since you guys merged awhile back. No idea what's going on.

[2011-04-23 03:37] vimalloc commented on #32
No worries, I'm taking care of it right now :)

On Fri, 22 Apr 2011 21:35:51 -0600, DrSleep
reply@reply.github.com
wrote:

##

Using Opera's revolutionary e-mail client: http://www.opera.com/mail/

[2011-04-23 03:39] hausdorf commented on #32
_kisses landon_

[2011-04-23 03:41] vimalloc commented on #32
/blush

Its up. I tested it with git_diff() and that was working, but didn't check
with git_diff_no_index(); Give it a shot and let me know if there are any
problems.

Cheers

On Fri, 22 Apr 2011 21:39:43 -0600, DrSleep
reply@reply.github.com
wrote:

##

Using Opera's revolutionary e-mail client: http://www.opera.com/mail/

[2011-04-23 03:50] hausdorf commented on #32
Nope, seems to be good work.

Also, again, a general, friendly reminder to watch your spaces. Not to belabor the point. You guys know I don't like bringing it up.

[2011-04-23 03:51] basepi commented on #32
Admit it, you love bringing it up!  =P  JK, mate.  Adding a highlight to my
vimrc now.

On Fri, Apr 22, 2011 at 9:50 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-23 03:52] vimalloc commented on #32
I will do the same :P

[2011-04-23 03:54] hausdorf commented on #32
Thank you so much. I _reeeeeeeeally_ actually do hate bringing it up, because I hate confrontation.

[2011-04-23 04:08] hausdorf commented on #23
This is now implemented for libdiff.

@kyeana, @crakdmirror, what malloc are you using? Can I close this?

[2011-04-23 04:09] vimalloc commented on #23
Git__malloc
On Apr 22, 2011 10:08 PM, "DrSleep" <
reply@reply.github.com>
wrote:

[2011-04-23 04:09] basepi commented on #32
Needs to happen sometimes, though.  We need to be kicked in the pants and
all that from time to time.

On Fri, Apr 22, 2011 at 9:54 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-23 04:14] hausdorf commented on #31
Actually, no. You use spaces whenever you want two lines to line up, and you often use more than for spaces do to it. In [this example](https://github.com/crakdmirror/libgit2/blob/development/src/libdiff/libdiff.c#L898), you indent both the first and the second line with 1 tab, and then use spaces to line up the `xdl_change_compact()` calls.

I propose that our solution is fine.

Also, this should

[2011-04-23 04:16] hausdorf commented on #23
Awesome. Then I'm closing this issue.

[2011-04-23 04:16] #23 closed, assigned to hausdorf

[2011-04-23 05:00] trane commented on #31
6 spaces = 4 spaces + 2 spaces = 1 tab + 2 space.
Right?

[2011-04-23 05:02] hausdorf commented on #31
Not everyone displays it as 4 spaces though.

[2011-04-23 05:05] trane commented on #31
That is why spaces > tabs. In the case that people don't use 4 spaces for tabs, and there is a tab somewhere that they set as 2, then your 6 spaces would be _way_ off, as opposed to tab + 2 spaces, as the tab scales to the number of spaces they want tab to scale to, where your spaces don't scale at all.

[2011-04-23 05:12] hausdorf commented on #31
Hey man, _I_ didn't choose the style.

[2011-04-23 05:15] trane commented on #31
It makes me wonder what they were smoking.
The only way to make tabs make sense, is if you use them for everything and don't use spaces for lining up at all. That would _sometimes_ result in something like this...(since they don't use monospaced fonts it still looks a little off)

[code]

[2011-04-23 05:26] vimalloc commented on #31
I agree there trane here, but hey what do you do.

[2011-04-23 05:32] hausdorf commented on #31
Huh. Makes sense to me.

[2011-04-23 15:31] #32 closed, assigned to vimalloc

[2011-04-23 18:37] basepi opened #36 "Figure out Git's diff unit tests, implement for libgit2"

[2011-04-23 18:48] hausdorf commented on #36
This is already covered under #24.

[2011-04-23 18:48] #36 closed, assigned to basepi

[2011-04-23 18:50] basepi commented on #36
Ah, I was looking for it, missed it for some reason.

On Sat, Apr 23, 2011 at 12:48 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-24 02:31] hausdorf commented on #22
Note, braces go on the next line for functions, and stay on the same line for conditionals. DO NOT put braces on the same line for functions. See "Braces" section above.

[2011-04-24 03:15] basepi commented on #24
Interestingly, all of git's unit tests are just shell scripts.  I guess that makes sense.

Since we're using a C linkable library, should our tests all be in C programs as opposed to shell scripts?

Also, there are a TON of tests for git.  Ridiculous.  They're in the `t/` directory, if you're interested in checking them out.

[2011-04-24 03:16] basepi commented on #24
I just did `ls *diff*` to find all of the diff ones.

[2011-04-24 03:16] basepi commented on #24
Lied again.  It uses shell scripts which create and then compile and then run and then destroy C programs.  Weird.

[2011-04-24 03:17] basepi commented on #24
Lied one more time.  It creates c programs, then diffs them, then checks the output.  I was right the first time.  Ignore me for awhile, eh?

[2011-04-24 03:17] hausdorf commented on #24
That makes sense as testing goes.

[2011-04-24 03:19] basepi commented on #24
Can we do our testing via shell scripts?  I don't think so, since it's a linkable library.  However, assuming you guys have formatted your diffs EXACTLY like git does, then we could use their test cases at least.

[2011-04-24 03:20] hausdorf commented on #24
What about making it a linkable library precludes us from using these tests?

[2011-04-24 03:20] basepi commented on #24
Well, we don't have a command-line interface.  So you can't just run `git diff` from the command line, as these tests do.  You have to do it from within a C program that links to the libgit2 library, right?

[2011-04-24 03:26] hausdorf commented on #24
So make a program with git's CLI.

[2011-04-24 03:28] basepi commented on #24
Because that's not a huge task.  Definitely not a whole project on its own,
creating a minimal client that uses libgit2.

Sarcasm aside, I'll look into it.

On Sat, Apr 23, 2011 at 9:26 PM, DrSleep <
reply@reply.github.com>wrote:

[2011-04-24 03:30] hausdorf commented on #24
We've implemented diff with no flags whatsoever. Realistically how much does that take to write up?

[2011-04-24 03:32] basepi commented on #24
Right, but the tests rely on getting stuff out of a git repository, not just
diffing two files.  And I haven't looked, but I expect some (or many) of
them to use `commit` commands and so forth, to set up those snapshots for
the `diff` operations.  Additionally, I don't think we want to use shell
scripts, because the existing tests for libgit2 do not.  I'm inspecting
their testing framework now.  (

[2011-04-24 03:36] hausdorf commented on #24
Guess we'll find out. But obviously the repo and commit stuff is mostly written. Just saying. Either way, their data and test cases are probably useful to us.

[2011-04-24 03:38] basepi commented on #24
I'm definitely going to stick to libgit2's implemented testing framework.  Seems like it will be fairly straightforward (if time-consuming) to construct tests within that system.  I should be able to use the test cases from git's diff tests, however.  Again, assuming we format our diff output exactly the same.

I'm going to bed for now, will continue this tomorrow morning before church and whatnot

[2011-04-24 03:43] hausdorf commented on #24
Your choice for sure man, but the soonest you can get this done truly is the best. I _really_ could use it.

[2011-04-24 03:44] basepi commented on #24
I understand.  Urgent enough that I should take the fastest route to usable tests, even if we'll have to write new ones for the pull request later?  (i.e. should I sacrifice their testing framework if it gets you tests sooner?)

[2011-04-24 03:47] basepi commented on #24
Obviously either way I'm going to shoot to be done by Tuesday.

[2011-04-24 03:47] hausdorf commented on #24
No, we still have time. I can administer crude hand-tests myself.

[2011-04-24 03:48] basepi commented on #24
Cool.

[2011-04-24 03:48] hausdorf commented on #24
Well, it would really be nice if they could be done before we actually show the presentation.

[2011-04-24 03:49] basepi commented on #24
Right.  Oh and btw:

<Insert generic masturbation joke here>

[2011-04-24 03:52] hausdorf commented on #24
As in, tomorrow. Maybe Monday. That would be really awesome, if you can manage.

[2011-04-24 03:53] hausdorf commented on #24
And of course, by "Monday" I mean tomorrow.*

[2011-04-24 03:55] hausdorf commented on #24
*where "tomorrow" means in 5 minutes, which is when I will need to use them.

[2011-04-24 04:48] trane commented on #24
Wow, I've been cleaning and organizing for the entire evening. I open my computer up and I have a novelette to read. Thanks gents. @DrSleep @crakdmirror @kyeana <- that's a first for me. I have never ever ever ever ever ever ever........

[2011-04-24 18:25] hausdorf commented on #25
We should call our presentation "Learn you a git (for great
good!)http://learnyousomeerlang.com/
"

On Thu, Apr 21, 2011 at 6:35 PM, crakdmirror <
reply@reply.github.com>wrote:

[2011-04-24 20:13] hausdorf opened #37 "Flags variable is getting passed in uninitialized (full 'o garbage)"
PROBLEM: We're sending in a flags parameter as part of the `diff` query. Normally, it's the job of a set of helper function (e.g. the hypothetical function `print_std_out()`) to create a `git_diffresults_conf` struct that configures the result of the diff -- whether we are printing it or merging it, etc. This does not exist yet, and so the flags param is not set, and thus it tends to be full of ga

[2011-04-25 17:01] trane commented on #16
I'm of the opinion, now, that we should use `size_t` when referring to size and `unsigned long` or `long` when using those types to represent data.
Thoughts?

[2011-04-25 17:04] trane commented on #19
This is implemented and will be tested when the unit tests are completed.

[2011-04-25 17:04] trane commented on #9
Done.

[2011-04-25 17:04] #9 closed, assigned to trane

[2011-04-25 17:34] basepi commented on #16
Sounds like a solid idea to me.

[2011-04-25 18:24] trane commented on #16
I think we are pretty much in agreement here. I'll close this issue.

[2011-04-25 18:24] #16 closed, assigned to trane

[2011-04-25 18:26] trane commented on #25
We are meeting on Monday @ 8:45pm in the CADE for great good.

[2011-04-25 18:26] #25 closed, assigned to nobody

[2011-04-25 18:31] hausdorf commented on #19
How are the tests going, by the way?

[2011-04-25 19:58] trane commented on #19
@crakdmirror ^^

[2011-04-25 20:11] basepi commented on #19
Weird, I wasn't getting the notifications!  Gotta use those mentions I guess.  I suppose you get notifications on anything you've commented on, been mentioned on, are assigned to, or on the initial creation of an issue.

To answer your question, working on them.  Won't probably be completely done tonight, but I'll pump through anything I don't have done tomorrow morning.  In terms of the one we wa

[2011-04-25 20:12] trane commented on #19
My impression was that at least some of the unit tests could/would output data that could be displayed if needed.

[2011-04-25 20:14] basepi commented on #19
I'll look into that.  You might be right, I know the git unit test framework I was looking at had the ability to pass in a `-v` for verbose execution.  Didn't look in detail as to what that meant, but I will look for something equivalent in the libgit2 testing framework.

[2011-04-25 20:18] trane commented on #19
imho, at least 1 working test to demo is better than 0. So, even if it is impossible to get fully featured testing in place by Tuesday, getting at least 1 will allow us to demo.

[2011-04-25 20:19] basepi commented on #19
Right.  Once I get one test the rest will be easy.  Still learning the
testing framework.  Had to spend more time on algorithms last night than
planned.

On Mon, Apr 25, 2011 at 2:18 PM, trane <
reply@reply.github.com>wrote:

[2011-04-25 21:54] basepi commented on #24
Updated the issue title/text.

I'll tell you what, though:  The test framework is as confusing as hell.  There are not nearly enough `#include`s.......

Gotta figure out how to compile/run the test framework as well.  I'll keep chugging.

[2011-04-27 22:36] basepi commented on #24
@DrSleep, if we can't get prettified output from our functions, then I need example cases of what the output looks like so I can actually _check_ the output.  I suppose I could just run the functions and then plug that output into the tests, but that's _not_ good testing procedure.  Git has many use cases that we could leverage, but we'd have to bring our output in line _exactly_ with their Git's

[2011-04-27 22:51] hausdorf commented on #24
I am aware of the issue. I will get something together when I can.

[2011-04-27 22:56] basepi commented on #24
No worries.  I don't think we actually _need_ unit tests in the submitted code for 3505 (though they would be nice), but we'll need them to get our pull request accepted by libgit2 later.

[2011-04-27 22:57] hausdorf commented on #24
Formally, my goal is to build something that we can actually turn in. I think that's reasonable.

[2011-04-27 22:58] hausdorf commented on #24
Incidentally, I'm going to be working on this most of tomorrow, and will probably need you to help me review for algorithms as a result.

[2011-04-27 23:00] basepi commented on #24
Algorithms.....I'm kinda worried about that one.  I know Jeremiah Turner and some other people are getting together to study tomorrow like noon-ish.  I may go study with them.  Also would be happy to study with you, just can't in the evening.  (That's when this whole church road-show thing is going down)  Incidentally, this means that anything I need to do for the code freeze needs to be done befo

[2011-04-27 23:06] basepi commented on #24
The code freeze is 2340 tomorrow.  According to the assignment page.

Need to include a usage README in there, shouldn't be a problem, the default README.md is probably enough, and we can modify it slightly for our group's information.

[2011-04-28 14:57] trane opened #38 "Get Alex's private branch merged"
Code freeze is tonight and I know that @DrSleep has been working on his own private branch. Can we have this integrated into dev-testing or something? @crakdmirror @kyeana

[2011-04-28 14:58] trane commented on #13
How much of this is fixed in @DrSleep private branch? I can go through whatever you haven't cleaned up if you merge it. https://github.com/crakdmirror/libgit2/issues/38

[2011-04-28 15:00] trane commented on #21
@DrSleep have you had any success with `Math.sqrt()` or have you just been using `bogosqrt()` for your tests?

[2011-04-28 15:06] hausdorf commented on #21
I've not tried it. Eventually, yes, but when I have more time.

[2011-04-28 15:06] hausdorf commented on #13
Not much. But don't fix it up quite yet.

[2011-04-28 16:43] vimalloc commented on #38
Sure thing. Me know what branch and I will merge it with development.

Crakdmirror, could you merge the testing stuff you were working on?

Everyone, is there something specific anyone needs help getting done?

[2011-04-28 18:05] basepi commented on #38
Uhhh, I could, but there's not that much point right now, as there's not that much there.  Still need test cases, etc.

[2011-05-09 21:09] hausdorf commented on #16
Turns out that `size_t` is a typedef of some `unsigned` integral type (e.g., `int` or `long`) whose range is guaranteed to be able to hold the size in bytes of the biggest object your machine can possibly hold. Thus `size_t`, in case you're wondering, should be used any time you want to describe something of arbitrary size. So, for example, an index in a `for` loop.

There's a bit about it [here](

[2011-05-09 21:12] basepi commented on #16
Woot, another misuse of the classic `size_t`.  Oh well.

Then again, it might not be a misuse, I just may have the wrong idea about `size_t` -- plus, wikipedia is not infallible.  By any stretch.

[2011-05-09 21:13] hausdorf commented on #16
What misuse, now?

[2011-05-09 21:14] basepi commented on #16
Eh, just seems like that doesn't fit in with the use of `size_t` in the wikipedia article I referenced previously.

https://github.com/crakdmirror/libgit2/issues/16#issuecomment-1042583

[2011-05-09 21:16] hausdorf commented on #16
So, specifically, on the second page of the link above, just before the section titled "Using size_t", it says:

[2011-05-09 21:18] basepi commented on #16
Second page?   It's a wikipedia article, it's not paged....

[2011-05-09 21:19] basepi commented on #16
But I'm not arguing the standards of how big `size_t` needs to be -- it's defined to be used for any variable required to hold a size.  That way, it can hold the maximum integer value on both a 32-bit and a 64-bit platform, or whatever.  So you don't use it anywhere you need an arbitrarily large container -- rather, you use it anywhere a size is returned or referenced.

That's my impression, anywa

[2011-05-09 21:19] hausdorf commented on #16
[This link](http://www.eetimes.com/discussion/programming-pointers/4026076/Why-size-t-matters?pageNumber=1) that I mentioned [here](https://github.com/crakdmirror/libgit2/issues/16#issuecomment-1126321).

[2011-05-09 21:21] basepi commented on #16
LOL, thought you were referencing my link above.  So confused.

See [my comment](https://github.com/crakdmirror/libgit2/issues/16#issuecomment-1126386).

[2011-05-09 21:21] basepi commented on #16
And again, I don't know that I'm correct, it's just how I understood it.

[2011-05-09 21:23] hausdorf commented on #16
What you are responding to is not what I'm talking about. The only take-away point here is that the `size_t` is guaranteed to be able to address any byte in memory, and it is guaranteed to not be bigger than it needs to be.

[2011-05-09 21:26] basepi commented on #16
I agree on that point.

I was referencing your statement as to how `size_t` should be used in [this comment](https://github.com/crakdmirror/libgit2/issues/16#issuecomment-1126321).  Technically (as far as I can tell), it shouldn't just be arbitrarily used anywhere you need a counter -- rather, in instances regarding the size of an object, or an address in memory or something like that.

[2011-05-09 21:36] hausdorf commented on #16
I didn't say that you should use it anywhere you need a counter. If you're counting to 4, you should use any integral type smaller than or equal to word size, since `mov` is equivalent for, say, `int` and `char` (usually). What I'm saying is, when you're describing something of arbitrary size, e.g., bytes in a file, it should _definitely_ be in `size_t`.

Specifically what I was talking about is t

[2011-05-09 21:40] basepi commented on #16
Gotcha.  Man alive, we're bad at this whole communication thing -- we've been arguing the same point for the last 10 comments, methinks.  We do that a lot.  =P

[2011-05-09 21:41] hausdorf commented on #16
Indeed.

[2017-07-06 05:14] #35 closed, assigned to nobody

[2017-07-06 05:14] #26 closed, assigned to nobody